body {
  background: #8be6ff;
}

a {
  color: #9670f4;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
